<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content ="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" type="text/css" href="static/css/mobileIndex.css">
    <link rel="icon" href="static/pic/1.png" type="image/x-icon"/>
    <script type="text/javascript" src="static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="static/js/audio.js"></script>
    <script type="text/javascript" src="static/js/index.js" ></script>
    <title>MarcocoLiu`s Project </title>
</head>
<body>
<div id="paperBox1" class="box">
    <div >
        <img id="paper1" class="paper1" src="static/pic/1.png"/>
        <p id="paper1_text">点·击·纸·团<br>开始</p>
    </div>
</div>
<div id="paperBox2">
    <div>
        <img id="paper2" src="static/pic/2.png"/>
    </div>
</div>
<div id="paperBox3">
    <div style="position:relative; width: 100%;height: 100%;">
        <img id="paper3" src="static/pic/mobilePaper3.jpg"/>
        <div id="paperBox5">
            <canvas id="wrap" height="300" width="350"></canvas>
        </div>
        <div id="paperBox4">
            <div id="gifBox">
                <img id="gifPic" src="static/pic/test.gif"/>
            </div>
            <div id="optionBox">
                <div class="option">
                    <div style="position: relative">
                        <img id="optionA"  src="static/pic/option-A.png"/>
                        <img id="thumbA" src="static/pic/Like.png"/>
                    </div>
                </div>
                <div class="option">
                    <div style="position: relative">
                        <img id="optionB" src="static/pic/option-B.png"/>
                        <img id="thumbB" src="static/pic/Dislike.png"/>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>